@media only screen and (max-width: 1000px) {
    .main_navbar_container{
        display: none;
    }
}
@media only screen and (min-width: 1001px) {
    .main_navbar_container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 4rem;
        padding: 0px 2rem;
    }
    .user_profile_btn{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }
    .user_profile_btn img{
        width: 36px;
        height: 36px;
        border-radius: 50%;
    }
    .search_bar{
        width: 20rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        background-color: rgba(242, 242, 242, 1);
        padding: 5px 10px;
        border-radius: 21px;
    }
    .search_bar input{
        width: 20rem;
        border: none;
        outline: none;
        background-color: transparent;
    }
    .search_bar input::placeholder{
        font-size: 14px;
        font-weight: 500;
    }
    .user_profile_btn p{
        font-size: 14px;
        font-weight: 400;
    }
}